
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1{
    text-align: center;
    color: rgb(235, 139, 13);
    margin: 50px auto;
    font-size: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 500px;
    padding: 2rem;
    border-radius: 24px;
    background-color: teal;
}
body{
    background-color: teal;
}

input{
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;

}
label,input{
    font-size: 2rem;
}